includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 9
    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Resources\\[a-zA-Z0-9::a-zA-Z]#'
        - '#referenced with incorrect case#'
        - '#type has no value type specified in iterable type array#'
    excludePaths:
    checkGenericClassInNonGenericObjectType: false
